<div class="uk-flex uk-flex-center uk-flex-middle " uk-height-viewport="offset-bottom: footer; offset-top: true; ">
    <div class=" uk-text-center ">
        <div style="position:absolute;top:35%; left:12%">
            <img style="max-width:300px" data-src="https://firebasestorage.googleapis.com/v0/b/toodlyco.appspot.com/o/web%2Ftoodly_farm_girl.svg?alt=media&token=363558e4-4cc4-438b-af62-c52401eac3aa" uk-img/>
        </div>
        
            
                <h3>אודות</h3>
                <p class="uk-text-right">
                    אנחנו צוות שחושב, מרגיש ויוצר משחקים יחודיים, חוויות ותכנים שנועדו לעורר השראה, לעזור בישום ולתת נקודות מבט יצירתיות על חינוך, ילדים, הורות והוראה. 
הכל התחיל בתחושת תקיעות ולחץ בחיים הפרטיים שלנו, המצאנו לעצמנו משחק-חיים שנועד להוסיף הומור וקלילות לזוגיות ולחיים שלנו עם שני ילדים צעירים מאד. הילדים שלנו שמעו אותנו משחקים וביקשו להצטרף, כך התרחב המשחק והפך לדרך חיים. כמו שקורה פעמים רבות כשמוכנים להקשיב לילדים - הם פתחו את עינינו והביאו אותנו להתבונן גם במערכת החינוך כולה. החלטנו שמגיע לנו ולילדים שלנו יותר. שמגיע גם למחנכים ולמחנכות שלהם יותר! אז התחלנו לשחק, לחנך ולחיות אחרת. 

                </p>
                <hr>
               <div class="noselect uk-flex uk-flex-center" >
                    <div>
                        <img style="max-width: 95%" uk-img data-src="https://i.ytimg.com/vi/X9GwXIYmuUk/maxresdefault.jpg"/>
                        <p style="padding: 0 2%;font-size:0.8rem" class="uk-text-right">
                            יזם, מתכלל ומנהל מו"פ. 
מהנדס חשמל, מומחה בתחום המישחוק והאינטגרציה. 
מאמין שכל דבר יכול להשתפר בעזרת העמקה, הומור ומשחק.

                            </p>
                    </div>
                    <div>
                        <img style="max-width: 95%" uk-img data-src="https://i.ytimg.com/vi/X9GwXIYmuUk/maxresdefault.jpg"/>
                        <p style="padding: 0 2%;font-size:0.8rem" class="uk-text-right">אשת חינוך, מאמנת ומנחת קבוצות.
                            מנהלת גן ילדים, מומחית בתחום הגיל הרך והחינוך האלטרנטיבי. 
                            מאמינה שהסוד הוא בדיאלוג, עשייה משותפת והתחדשות.
                            </p>
                    </div>
                    
                </div>

                <div  class="uk-hidden@s noselect uk-flex uk-flex-center uk-flex-column">
                    <a class="homeicons" href="https://www.facebook.com/pg/toodlygames" target="_blank">
                        <span uk-icon="icon: facebook; ratio: 2"></span>
                        <div >פייסבוק</div>
                       
                    </a>
                   <a class="homeicons"  href="mailto:toodly.co@gmail.com" target="_blank">
                        <span uk-icon="icon: mail; ratio: 2"></span>
                        <div>toodly.co@gmail.com</div>
                    </a>
                   <a class="homeicons" href="https://www.instagram.com/rotem_l.s/" target="_blank" >
                        <span uk-icon="icon: instagram; ratio: 2"></span>
                        <div >אינטגרם</div>
                     </a>
                </div>
                <div  class="uk-visible@s noselect uk-flex uk-flex-center ">
                    <a class="homeicons" href="https://www.facebook.com/pg/toodlygames" target="_blank">
                        <span uk-icon="icon: facebook; ratio: 2"></span>
                        <div >פייסבוק</div>
                       
                    </a>
                   <a class="homeicons"  href="mailto:toodly.co@gmail.com" target="_blank">
                        <span uk-icon="icon: mail; ratio: 2"></span>
                        <div>toodly.co@gmail.com</div>
                    </a>
                   <a class="homeicons" href="https://www.instagram.com/rotem_l.s/" target="_blank" >
                        <span uk-icon="icon: instagram; ratio: 2"></span>
                        <div >אינטגרם</div>
                     </a>
                </div>
               
               
          
        </div>

    
    </div>