// 1. Your custom variables and variable overwrites.
// $global-background: #eae7dc;
$global-background: #eae7dc;
$global-inverse-color : #ffffff;
//$global-primary-background:#8e8d8a;
$global-primary-background:#8e8d8a;
$global-secondary-background:#242322;
$global-muted-color:#8e8d8a;
$global-color: #131313;
$global-inverse-color: #131313;
$table-divider-border: #8e8d8a;
$notification-position: 4rem;
$global-border : #131313;
$modal-dialog-background : #eae7dc;
// Overlay
$overlay-caption-background: #131313;

$offcanvas-bar-background: $global-background;


//$global-primary-background: #
//$global-success-background:
//$global-warning-background:

$global-link-color: #e85a4f;
$global-warning-background: #e98074;
$global-link-hover-color: #e98074 ;


$global-font-size : 18px;


// 2. Import default variables and available mixins.
@import "../node_modules/uikit/src/scss/variables-theme.scss";
@import "../node_modules/uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
// @mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "../node_modules/uikit/src/scss/uikit-theme.scss";

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }

.borderrad {
  border-radius: 10px;
}

@-webkit-keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}