//pallete 19 - https://visme.co/blog/website-color-schemes/  
// #eae7dc
// #d8c3a5
// #8e8d8a
// #e98074
// #e85a4f


// 1. Your custom variables and variable overwrites.
$global-background: #eae7dc;
$global-inverse-color : #ffffff;
$global-primary-background:#8e8d8a;
$global-secondary-background:#eae7dc;
$global-muted-color:#8e8d8a;
$global-color: #131313;
$global-inverse-color: #131313;
$table-divider-border: #8e8d8a;
$notification-position: 4rem;
$global-border : #131313;


$offcanvas-bar-background: $global-background;


//$global-primary-background: #
//$global-success-background:
//$global-warning-background:

$global-link-color: #e85a4f;
$global-warning-background: #e98074;
$global-link-hover-color: #e98074 ;


$global-font-size : 18px;


// 2. Import default variables and available mixins.
@import "../node_modules/uikit/src/scss/variables-theme.scss";
@import "../node_modules/uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
// @mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "../node_modules/uikit/src/scss/uikit-theme.scss";

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }