<div class="uk-section uk-padding-remove">
    <div class="uk-flex uk-flex-center uk-flex-middle " uk-height-viewport="offset-bottom: footer; offset-top: true; ">
        <div class="uk-animation-slide-bottom uk-text-center ">
             <img  data-src="assets/images/logo_try1.svg"  alt="toodly - game to inspire logo" uk-img> 
            <h1 class="uk-margin-remove-top">טודלי - משחקים עם השראה</h1>
            <p class="uk-margin-remove-top">חוויות ותכנים פורצי דרך בעולם החינוך</p>
            <!-- <p class="uk-margin-remove-top">אנחנו צוות שחושב, מרגיש ויוצר משחקים יחודיים, חוויות ותכנים שנועדו לעורר השראה ולתת נקודות מבט מעניינות על חינוך, ילדים והוראה</p>-->
            <a href="https://www.facebook.com/pg/toodlygames" class="uk-icon-button" uk-icon="facebook"></a>
            
        </div> 
        
        <div>
    </div> 
</div>

<!--<footer class="uk-visible@m" style="position:fixed;bottom:0%; left: 0%;height:100%;width:100%;margin:auto">
    <img data-src="assets/images/bottom.svg" width="30%" alt="toodly - games to inspire; טודלי - משחקים עם השראה" uk-img > 
</footer> -->

<!--<footer class="" style="position:fixed;bottom:-70%;left:10% height:100%;width:100%;margin:auto">
    <img data-src="assets/images/bottom.svg" width="30%" alt="toodly - games to inspire; טודלי - משחקים עם השראה" uk-img > 
</footer> -->
