
    <div class="uk-flex uk-flex-center uk-flex-middle " uk-height-viewport="offset-bottom: footer; offset-top: true; ">
        <div class="uk-animation-fade uk-text-center ">
            
            <div style="filter:drop-shadow(8px 8px 14px #00000080);" uk-slideshow class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="animation: push;autoplay: true;autoplay-interval:4300;pause-on-hover:false">
             
                <waving-toodly class="uk-visible@l "></waving-toodly>
                <ul class="homeitems noselect uk-slideshow-items borderrad">
                    <li class="borderrad">
                        <img src="assets/images/shaar1.jpg" alt="" uk-contain>
                        <div style="padding:10px 10px" class="homeoverlay uk-overlay  uk-overlay-primary uk-position-bottom uk-text-center uk-dark">
                            <h2 style="color:white;" class="fsize_header uk-margin-remove">טודלי - משחקים עם השראה</h2>
                            <p style="color:white;" class="fsize_text uk-margin-remove">חוויות ותכנים פורצי דרך בעולם החינוך</p>
                        </div>
                    </li>
                    <li class="borderrad">
                        <img src="https://firebasestorage.googleapis.com/v0/b/toodlyco.appspot.com/o/web%2Fshaar2.jpg?alt=media&token=98ea43a8-f60f-479f-94d5-dc52b84fd51f" alt="" uk-cover>
                        <div (click)="this.router.navigateByUrl('/store');" style="padding:10px 10px" class="homeoverlay uk-overlay  uk-overlay-primary uk-position-bottom uk-text-center uk-dark">
                            <h2 style="color:white;" class="fsize_header uk-margin-remove">קישרונים</h2>
                            <p style="color:white;" class="fsize_text uk-margin-remove">סדרת משחקים לחיזוק הקשר בין הורים וילדים</p>
                        </div>
                    </li>
                    <li class="borderrad">
                        <img src="https://firebasestorage.googleapis.com/v0/b/toodlyco.appspot.com/o/web%2Fshaar3.jpg?alt=media&token=52695ea8-7079-4817-9c4a-b6cb1d748e7f" alt="" uk-cover>
                        <div style="padding:10px 10px" class="homeoverlay uk-overlay  uk-overlay-primary uk-position-bottom uk-text-center uk-dark">
                            <h2 style="color:white;" class="fsize_header uk-margin-remove">הדרכה וליווי</h2>
                            <p style="color:white;" class="fsize_text uk-margin-remove">סדנאות והשתלמויות חדשנות בחינוך</p>
                        </div>
                    </li>
                    <li class="borderrad">
                        <img src="https://firebasestorage.googleapis.com/v0/b/toodlyco.appspot.com/o/web%2Fshaar4.jpg?alt=media&token=3d55c5a9-7b8d-45a2-9141-fd206ddcbb48" alt="" uk-cover>
                        <div (click)="this.router.navigateByUrl('/store');" style="padding:10px 10px" class="homeoverlay uk-overlay  uk-overlay-primary uk-position-bottom uk-text-center uk-dark">
                            <h2 style="color:white;" class="fsize_header uk-margin-remove">יוגה לילדים</h2>
                            <p style="color:white;" class="fsize_text uk-margin-remove">סדרת קלפי יוגה למשחק של מבוגרים וילדים</p>
                        </div>
                    </li>
                    <li class="borderrad">
                        <img src="https://firebasestorage.googleapis.com/v0/b/toodlyco.appspot.com/o/web%2Fshaar5.jpg?alt=media&token=93f268f2-f2c7-49f0-9829-41572bc98ec6" alt="" uk-cover>
                        <div style="padding:10px 10px" class="uk-overlay  uk-overlay-primary uk-position-bottom uk-text-center uk-dark">
                            <h2 style="color:white;" class="fsize_header uk-margin-remove">איך נרגעים</h2>
                            <p style="color:white;" class="fsize_text uk-margin-remove">כרטיסיות ייחודיות להעצמת הילדים ברגעי קושי</p>
                        </div>
                    </li>
                </ul>
            
                <div class="uk-dark">
                    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="next"></a>
                    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="previous"></a>
                </div>
            
            </div>
            <!--<img  data-src="https://firebasestorage.googleapis.com/v0/b/toodlyco.appspot.com/o/cards%2Fimages%2F5.png?alt=media&token=23357df7-c76e-492e-8a15-89a9e2e4187b"  alt="toodly - game to inspire logo" uk-img> -->
            <!--<img  data-src="assets/images/logo_try1.svg"  alt="toodly - game to inspire logo" uk-img> 
            <h2 class="uk-margin-remove-top">טודלי - משחקים עם השראה</h2>
            <p style="width:70%" class="uk-margin-remove-top">חוויות ותכנים פורצי דרך בעולם החינוך</p>-->
            <p class="uk-text-right " >בטודלי אנחנו מאמינים בשינוי חינוכי דרך הקשבה, גיוון, משחק, והנאה. אנחנו מכירים את האתגרים הרבים העומדים בפני המחנכים היום ושמחים ליצור עבורם פתרונות. אנחנו פועלים למען עידוד הסקרנות הן של הילדים והן של המחנכים בהיכרות עם העולם ועם עצמם. נשמח להכיר גם אתכם. 
            </p>
            <div style="width:100%" class="uk-flex uk-flex-center uk-flex ">
               
               
                <div class="homeicons"  (click)="this.router.navigateByUrl('/store');">
                    <img  src="assets/images/icon_shop.png" alt="" >
                    <div >חנות</div>
                </div>
               
                <div class="homeicons"  (click)="this.router.navigateByUrl('/about');">
                   
                    <img  src="assets/images/icon_about.png" alt="" >
                    <div >אודות</div>
                    
                </div>
                <div class="homeicons"   (click)="this.router.navigateByUrl('/projects');">
                    <img  src="assets/images/icon_projects.png" alt="" >
                    <div >פרוייקטים</div>
                   
                </div>
                    
                   
                    
               
                
               
                
            </div>
           
            
            <!--<a href="https://www.facebook.com/pg/toodlygames" class="uk-icon-button" uk-icon="facebook"></a> -->     
        </div>  
        
        <div>
    </div> 
</div>
