<div class="uk-section uk-padding-remove">
        <div class="uk-container uf uk-margin-remove-top">
            <div class="uk-flex uk-flex-center uk-flex-middle uk-flex-column" uk-height-viewport="offset-bottom: footer; offset-top: true; ">
                
                <div class="uk-heading-small uk-margin-remove-bottom uk-margin-remove-top">רותם החמודה</div>
                <p class="uk-margin-remove-top"><a href="/">חזרה לאתר הבית</a></p>
               
            </div>     
        </div>
    </div>
    